apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-configmap
data:
  config.yml: |
    http:
      services:
        service0:
          loadBalancer:
            servers:
              - url: https://google.com
