apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-configmap
data:
  config.yml: |
    http:
      routers:
        router0:
          service: service0
          rule: Host(`test.durp.info`)
      services:
        service0:
          loadBalancer:
            servers:
              - url: https://authentik.durp.info
