apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-configmap
data:
  config.yml: |
    http:
      routers:
        router0:
          service: service0
          rule: Host(`test.durp.info`)

---

apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: test-ingress
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`test.durp.info`) && PathPrefix(`/`) 
    kind: Rule
    services:
    - name: service0
      port: 443
  tls:
    secretName: test
