apiVersion: apps/v1
kind: Deployment
metadata:
  name: octopus-tentacle
  labels:
    app: octopus-tentacle
spec:
  selector:
    matchLabels:
      app: octopus-tentacle
  replicas: 1
  template:
    metadata:
      labels:
        app: octopus-tentacle
    spec:
      containers:
      - name: octopus-tentacle
        image: registry.durp.info/octopusdeploy/tentacle:latest
        imagePullPolicy: Always
        securityContext:
          allowPrivilegeEscalation: true
          privileged: true 
        ports:
        - name: http
          containerPort: 10933
        env:
          - name: ACCEPT_EULA
            value: "Y"
          - name: ListeningPort
            value: "10933"                      
          - name: ServerUrl
            value: "https://octopus.internal.durp.info"              
          - name: TargetWorkerPool
            value: "Default Worker Pool"              
          - name: CustomPublicHostName
            value: "192.168.20.131"              
          - name: PublicHostNameConfiguration
            value: "Custom"              
          - name: TargetName
            value: "k3s"              
          - name: ServerApiKey
            valueFrom:
              secretKeyRef:
                name: octopus-tentacle-secret
                key: key
