apiVersion: v1
kind: Service
metadata:
  name: duplicati
spec:
  ports:
  - name: app
    port: 8200
    protocol: TCP
    targetPort: 8200
  clusterIP: None
  type: ClusterIP

---

apiVersion: v1
kind: Endpoints
metadata:
  name: duplicati
subsets:
- addresses:
  - ip: 192.168.20.253
  ports:
  - name: app
    port: 8200
    protocol: TCP

---    

apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: duplicati-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`duplicati.internal.durp.info`) && PathPrefix(`/`)
    middlewares:
    - name: authentik
      namespace: traefik  
    kind: Rule
    services:
    - name: duplicati
      port: 8200
  - match: Host(`duplicati.internal.durp.info`) && PathPrefix(`/outpost.goauthentik.io`)
    kind: Rule
    services:
    - name: ak-outpost-authentik-embedded-outpost
      port: 9000
  tls:
    secretName: duplicati-tls

---

kind: Service
apiVersion: v1
metadata:
  name: ak-outpost-authentik-embedded-outpost
spec:
  type: ExternalName
  externalName: ak-outpost-authentik-embedded-outpost.authentik.svc.cluster.local        