apiVersion: v1
kind: Service
metadata:
  name: duplicati
spec:
  ports:
  - name: app
    port: 8200
    protocol: TCP
    targetPort: 8200
  clusterIP: None
  type: ClusterIP

---

apiVersion: v1
kind: Endpoints
metadata:
  name: duplicati
subsets:
- addresses:
  - ip: 192.168.20.253
  ports:
  - name: app
    port: 8200
    protocol: TCP

---    

apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: duplicati-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`duplicati.internal.durp.info`) && PathPrefix(`/`)
    middlewares:
    - name: authentik-proxy-provider
      namespace: traefik  
    kind: Rule
    services:
    - name: duplicati
      port: 8200
  - match: Host(`duplicati.internal.durp.info`) && PathPrefix(`/outpost.goauthentik.io`)
    kind: Rule
    services:
    - name: ak-outpost-authentik-embedded-outpost
      namespace: authentik
      port: 9000
  tls:
    secretName: duplicati-tls

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: duplicati-tls
  namespace: duplicati
spec:
  secretName: duplicati-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "duplicati.internal.durp.info"
  dnsNames:
  - "duplicati.internal.durp.info"  