apiVersion: v1
kind: Service
metadata:
  name: plex
spec:
  ports:
  - name: app
    port: 32400
    protocol: TCP
    targetPort: 32400
  clusterIP: None
  type: ClusterIP

---

apiVersion: v1
kind: Endpoints
metadata:
  name: plex
subsets:
- addresses:
  - ip: 192.168.20.253
  ports:
  - name: app
    port: 32400
    protocol: TCP

#---    
#
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: plex-ingress
#  annotations:
#    kubernetes.io/ingress.class: nginx
#    cert-manager.io/cluster-issuer: letsencrypt-production 
#    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
#spec:
#  rules:
#  - host: plex.durp.info
#    http:
#      paths:
#      - path: /
#        pathType: Prefix
#        backend:
#          service:
#            name: plex
#            port: 
#              number: 32400         
#  tls:
#    - hosts: 
#      - plex.durp.info
#      secretName: plex-tls

---    

apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: plex-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`plex.durp.info`)
    kind: Rule
    services:
    - name: plex
      port: 32400
      scheme: https
  tls:
    secretName: plex-tls  

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: plex-tls
spec:
  secretName: plex-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "plex.durp.info"
  dnsNames:
  - "plex.durp.info"  