apiVersion: v1
kind: Service
metadata:
  name: unraid
spec:
  ports:
  - name: app
    port: 443
    protocol: TCP
    targetPort: 443
  clusterIP: None
  type: ClusterIP

---

apiVersion: v1
kind: Endpoints
metadata:
  name: unraid
subsets:
- addresses:
  - ip: 192.168.20.253
  ports:
  - name: app
    port: 443
    protocol: TCP

---    

apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: unraid-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`unraid.internal.durp.info`)
    middlewares:
    - name: whitelist
      namespace: traefik  
    kind: Rule
    services:
    - name: unraid
      port: 443
      scheme: https    
  tls:
    secretName: unraid-tls  

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: unraid-tls
spec:
  secretName: unraid-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "unraid.internal.durp.info"
  dnsNames:
  - "unraid.internal.durp.info"  