apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: bitwarden-ingress
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`bitwarden.dev.durp.info`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: bitwarden
      port: 80
  tls:
    secretName: bitwarden-tls

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: bitwarden-tls
spec:
  secretName: bitwarden-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "bitwarden.dev.durp.info"
  dnsNames:
  - "bitwarden.dev.durp.info"  

---

kind: Service
apiVersion: v1
metadata:
  name: bitwarden-external-dns
  annotations:
    external-dns.alpha.kubernetes.io/hostname: bitwarden.durp.info
spec:
  type: ExternalName
  externalName: durp.info
