apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "{{ .Chart.Name }}-ingress"
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host("test.durp.info") && PathPrefix(`/`)
    kind: Rule
    middlewares:
      - name: jwt
    services:
    - name: "durpapi-service"
      port: 80
  tls:
    secretName: durpapi-tls

---

apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "{{ .Chart.Name }}-swagger"
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host("test.durp.info") && PathPrefix(`/swagger`)
    kind: Rule
    services:
    - name: "durpapi-service"
      port: 80
  tls:
    secretName: durpapi-tls

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: durpapi-tls
spec:
  secretName: durpapi-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "test.durp.info"
  dnsNames:
  - "test.durp.info"  

---

apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: jwt
spec:
  plugin:
    jwt:
      Required: true
      Keys:
        - https://authentik.durp.info/application/o/api/jwks
