apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: kuma-ingress
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`kuma.prd.durp.info`) && PathPrefix(`/`)
    middlewares:
    - name: authentik-proxy-provider
      namespace: traefik    
    kind: Rule
    services:
    - name: service
      port: 3001
  tls:
    secretName: kuma-tls

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kuma-tls
spec:
  secretName: kuma-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "kuma.prd.durp.info"
  dnsNames:
  - "kuma.prd.durp.info"  

---

kind: Service
apiVersion: v1
metadata:
  name: heimdall-external-dns
  annotations:
    external-dns.alpha.kubernetes.io/hostname: kuma.prd.durp.info
spec:
  type: ExternalName
  externalName:.prd.durp.info
