apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`argocd.internal.prd.durp.info`)
    middlewares:
    - name: internal-only
      namespace: traefik  
    kind: Rule
    services:
    - name: argocd-server
      port: 443
      scheme: https
  tls:
    secretName: argocd-tls  

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-tls
spec:
  secretName: argocd-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "argocd.internal.prd.durp.info"
  dnsNames:
  - "argocd.internal.prd.durp.info"  
