heimdall:

  image:
    registry: registry.durp.info
    repository: linuxserver/heimdall
    pullPolicy: Always    

  env:
    TZ: UTC
    PUID: "1000"
    PGID: "1000"

  service:
    main:
      ports:
        http:
          port: 80

  ingress:
    main:
      enabled: false

  persistence:
    config:
      enabled: true
