kubernetes-agent:
  agent:
    bearerTokenSecretName: agent-token
    acceptEula: "Y"
    serverUrl: "https://octopus.durp.info/"
    serverCommsAddresses:
      - "https://octopusdeploy-octopus-deploy.octopusdeploy.svc.cluster.local:10943/"
    space: "Default"
    name: "infra"
    deploymentTarget:
      initial:
        environments:
          - "development"
          - "production"
        tags:
          - "infra-cluster"
      enabled: "true"
