kubernetes-agent:
  agent:
    acceptEula: "Y"
    serverUrl: https://octopus.durp.info/"
    serverCommsAddress: 
      - https://octopus.durp.info:10943/
    space: Default
    name: Infra
    deploymentTarget:
      enabled: true
      bearerToken: "test"
      bearerTokenSecretName: agent-token
      initial:
        environments:
          - development
          - production
        tags:
          - infra-cluster
