kubernetes-agent:
  agent:
    acceptEula: "Y"
    bearerTokenSecretName: agent-token
    serverUrl: https://octopus.durp.info/"
    serverCommsAddress: 
      - "https://octopusdeploy-octopus-deploy.octopusdeploy.svc.cluster.local:10943/"
      #- https://octopus.durp.info:10943/
    space: Default
    name: Infra
    deploymentTarget:
      enabled: true
      initial:
        environments:
          - development
          - production
        tags:
          - infra-cluster
