apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: cheap
spec:
  addresses:
    - 192.168.11.130-192.168.11.140
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: poop
  namespace: metallb-system
spec:
  ipAddressPools:
    - cheap
