nextcloud:  

  image:
    repository: nextcloud
    flavor: apache
    pullPolicy: Always

  replicaCount: 1

  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 4G
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-production
      nginx.ingress.kubernetes.io/server-snippet: |-
        server_tokens off;
        proxy_hide_header X-Powered-By;
        rewrite ^/.well-known/webfinger /public.php?service=webfinger last;
        rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
        rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json;
        location = /.well-known/carddav {
          return 301 $scheme://$host/remote.php/dav;
        }
        location = /.well-known/caldav {
          return 301 $scheme://$host/remote.php/dav;
        }
        location = /robots.txt {
          allow all;
          log_not_found off;
          access_log off;
        }
        location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
          deny all;
        }
        location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
          deny all;
        }
    tls:
      - secretName: nextcloud-tls
        hosts:
          - nextcloud.durp.info
    labels: {}
    path: /
    pathType: Prefix

  nextcloud:
    host: nextcloud.durp.info
    existingSecret:
      enabled: true
      secretName: nextcloud-secret
      usernameKey: username
      passwordKey: password
    
    phpConfigs: {}

    # For example, to use S3 as primary storage
    # ref: https://docs.nextcloud.com/server/13/admin_manual/configuration_files/primary_storage.html#simple-storage-service-s3
    #
    #  configs:
    #    s3.config.php: |-
    #      <?php
    #      $CONFIG = array (
    #        'objectstore' => array(
    #          'class' => '\\OC\\Files\\ObjectStore\\S3',
    #          'arguments' => array(
    #            'bucket'     => 'my-bucket',
    #            'autocreate' => true,
    #            'key'        => 'xxx',
    #            'secret'     => 'xxx',
    #            'region'     => 'us-east-1',
    #            'use_ssl'    => true
    #          )
    #        )
    #      );

    defaultConfigs:
      .htaccess: true
      redis.config.php: true
      apache-pretty-urls.config.php: true
      apcu.config.php: true
      apps.config.php: true
      autoconfig.php: true
      smtp.config.php: false    

  internalDatabase:
    enabled: false

  externalDatabase:
    enabled: false

  mariadb:
    enabled: true

    auth:
      database: nextcloud
      username: nextcloud
      password: changeme

    architecture: standalone

    primary:
      persistence:
        enabled: true
        storageClass: "longhorn"
        accessMode: ReadWriteMany
        size: 8Gi      

  redis:
    enabled: true
    auth:
      enabled: true
      password: 'changeme'

  service:
    type: ClusterIP
    port: 8080
    loadBalancerIP: nil
    nodePort: nil

  persistence:
    enabled: true
    annotations: {}
    storageClass: "longhorn"
    accessMode: ReadWriteMany
    size: 50Gi

  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

  livenessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  startupProbe:
    enabled: false
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30
    successThreshold: 1
