nextcloud:  

  image:
    repository: nextcloud
    flavor: apache
    pullPolicy: Always

  replicaCount: 1

  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 4G
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-production
      nginx.ingress.kubernetes.io/server-snippet: |-
        server_tokens off;
        proxy_hide_header X-Powered-By;
        rewrite ^/.well-known/webfinger /public.php?service=webfinger last;
        rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
        rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json;
        location = /.well-known/carddav {
          return 301 $scheme://$host/remote.php/dav;
        }
        location = /.well-known/caldav {
          return 301 $scheme://$host/remote.php/dav;
        }
        location = /robots.txt {
          allow all;
          log_not_found off;
          access_log off;
        }
        location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
          deny all;
        }
        location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
          deny all;
        }
    tls:
      - secretName: nextcloud-tls
        hosts:
          - nextcloud.durp.info
    labels: {}
    path: /
    pathType: Prefix

  nextcloud:
    host: nextcloud.durp.info
    existingSecret:
      enabled: true
      secretName: nextcloud-secret
      usernameKey: username
      passwordKey: password
    
    phpConfigs: {}

    configs:
      nginx.config.php: |-
        <?php
        $CONFIG = array (
          'overwriteprotocol' => 'https'
          );
      storage.config.php: |-
        <?php
        $CONFIG = array (
          'objectstore' => array(
            'class' => '\\OC\\Files\\ObjectStore\\S3',
            'arguments' => array(
              'bucket'         => 'nextcloud',
              'autocreate'     => true,
              'key'            => 'DeTWD5Dc2hNwCYft',
              'secret'         => 'tHfIcq4tmCrNNlL679YcjAe6pscs9PJd',
              'hostname'       => '192.168.20.253',
              'port'           => 9768,
              'use_ssl'        => false,
              'use_path_style' => true
            )
          )
        );

  internalDatabase:
    enabled: true

  externalDatabase:
    enabled: false

  redis:
    enabled: false    

  service:
    type: ClusterIP
    port: 8080
    loadBalancerIP: nil
    nodePort: nil

  persistence:
    enabled: true
    annotations: {}
    storageClass: "longhorn"
    accessMode: ReadWriteMany
    size: 10Gi

  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi

  livenessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  startupProbe:
    enabled: false
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30
    successThreshold: 1
