argo-cd:

  global:
    revisionHistoryLimit: 1
    image:
      repository: registry.internal.durp.info/argoproj/argocd
      imagePullPolicy: Always

  server:
    #extraArgs:
    #  - --dex-server-plaintext
    #  - --dex-server=argocd-dex-server:5556
    # oidc.config: |
    #   name: AzureAD
    #   issuer: https://login.microsoftonline.com/TENANT_ID/v2.0
    #   clientID: CLIENT_ID
    #   clientSecret: $oidc.azuread.clientSecret
    #   requestedIDTokenClaims:
    #     groups:
    #       essential: true
    #   requestedScopes:
    #     - openid
    #     - profile
    #     - email

  dex:
    enabled: true
    image:
      repository: registry.internal.durp.info/dexidp/dex
      imagePullPolicy: Always

  configs:
    cm:
      create: true
      annotations: {}
      url: https://argocd.dev.durp.info
      oidc.tls.insecure.skip.verify: "true"
      dex.config: |
        connectors:
          - config:
              issuer: https://authentik.dev.durp.info/application/o/argocd/
              clientID: lKuMgyYaOlQMNAUSjsRVYgkwZG9UT6CeFWeTLAcl
              clientSecret: $client-secret:clientSecret
              insecureEnableGroups: true
              scopes:
                - openid
                - profile
                - email
                - groups
            name: authentik
            type: oidc
            id: authentik

    rbac:
      create: true
      policy.csv: |
        g, ArgoCD Admins, role:admin 
      scopes: "[groups]"

  server:
    route: 
      enabled: false
