apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: authentik-ingress
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`authentik.durp.info`) && PathPrefix(`/`) 
    kind: Rule
    services:
    - name: authentik
      port: 80
  tls:
    secretName: authentik-tls

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: authentik-tls
spec:
  secretName: authentik-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "authentik.durp.info"
  dnsNames:
  - "authentik.durp.info" 

---

kind: Service
apiVersion: v1
metadata:
  name: authentik-external-dns
  annotations:
    external-dns.alpha.kubernetes.io/hostname: authentik.durp.info
spec:
  type: ExternalName
  externalName: home.durp.info