durpapi:
  deployment: 
    image: registry.gitlab.com/developerdurp/durpapi
  postgresql:
    enabled: true
    auth:
      existingSecret: durpapi-secret
      secretKeys:
        adminPasswordKey: db_pass
        userPasswordKey: db_pass
        replicationPasswordKey: db_pass
      database: postgres
      username: postgres

  ingress:
    host: api.durp.info/durpapi
    clusterissuer: letsencrypt-production
    tls: durpapi-tls
