apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "{{ .Chart.Name }}-ingress"
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host("api.durp.info") && PathPrefix(`/`)
    middlewares:
    - name: authentik-proxy-provider
      namespace: traefik
    kind: Rule
    services:
    - name: durpapi-service.durpapi.svc.cluster.local
      port: 80     
  tls:
   secretName: durpapi-tls

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: durpapi-tls
spec:
  secretName: durpapi-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: api.durp.info
  dnsNames:
  - api.durp.info
