external-secrets:
  replicaCount: 3
  revisionHistoryLimit: 1

  image:
    repository: registry.internal.durp.info/external-secrets/external-secrets
    pullPolicy: Always

  extraVolumes: 
    - name: ca-pemstore
      configMap:
        name: ca-pemstore

  extraVolumeMounts: 
    - name: ca-pemstore
      mountPath: /etc/ssl/certs/vault.pem
      subPath: vault.pem
      readOnly: true

  resources: 
    requests:
      memory: 32Mi
      cpu: 10m
    limits:
      memory: 32Mi
      cpu: 10m

  webhook:
    image:
      repository: registry.internal.durp.info/external-secrets/external-secrets
      pullPolicy: Always

    resources: 
      requests:
        memory: 32Mi
        cpu: 10m
      limits:
        memory: 32Mi
        cpu: 10m

  certController:
    create: true
    revisionHistoryLimit: 1

    image:
      repository: registry.internal.durp.info/external-secrets/external-secrets
      pullPolicy: Always
      tag: ""

    resources: 
      requests:
        memory: 32Mi
        cpu: 10m
      limits:
        memory: 32Mi
        cpu: 10m
