apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vault-grafana-oauth
spec:
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: grafana-oauth
  data:
    - secretKey: GF_AUTH_GENERIC_OAUTH_CLIENT_ID
      remoteRef:
        key: kv/grafana/oauth
        property: GF_AUTH_GENERIC_OAUTH_CLIENT_ID
    - secretKey: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
      remoteRef:
        key: kv/grafana/oauth
        property: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vault-admin-credentials
spec:
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: grafana-admin-credentials
  data:
    - secretKey: admin-password
      remoteRef:
        key: kv/grafana/admin
        property: admin-password
    - secretKey: admin-user
      remoteRef:
        key: kv/grafana/admin
        property: admin-user
