apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: searxng
  name: searxng
  labels:
    app: searxng
spec:
  selector:
    matchLabels:
      app: searxng
  replicas: 1
  template:
    metadata:
      labels:
        app: searxng
    spec:
      containers:
        - name: searxng
          image: registry.durp.info/searxng/searxng:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080