apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: littlelink-ingress
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`links.prd.durp.info`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: littlelink
      port: 80
  tls:
    secretName: littlelink-tls

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: littlelink-tls
spec:
  secretName: littlelink-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "links.prd.durp.info"
  dnsNames:
  - "links.prd.durp.info"  

---

kind: Service
apiVersion: v1
metadata:
  name: links-external-dns
  annotations:
    external-dns.alpha.kubernetes.io/hostname: links.prd.durp.info
spec:
  type: ExternalName
  externalName:.prd.durp.info
