external-dns:
  global:
    imageRegistry: "registry.durp.info"

  image:
    pullPolicy: Always

  sources:
    - service
    
  provider: cloudflare
  cloudflare:
    secretName : "external-dns"
    proxied: true

  policy: sync