external-dns:
  global:
    imageRegistry: "registry.internal.durp.info"

  image:
    pullPolicy: Always
  txtPrefix: "dev-"
  sources:
    - service
    
  provider: cloudflare
  cloudflare:
    secretName : "external-dns"
    proxied: false

  policy: sync
