apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: vault-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`vault.infra.durp.info`)
    kind: Rule
    services:
    - name: vault
      port: 8200
      scheme: https
  tls:
    secretName: vault-tls  

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: vault-tls
spec:
  secretName: vault-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "vault.infra.durp.info"
  dnsNames:
    - "vault.infra.durp.info"
